<!DOCTYPE html>
<html lang="en">
<head>
  <title>Amadon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
   button{
    margin-bottom:20px;
   }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Amadon</h1>      
    <p>Buy Many Things</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">                      
      </button>
      <a class="navbar-brand" href="#">Shopping Cart</a>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Your Items</div>
        <div class="panel-body">

          {% if request.session.unicorn_count > 0 %}
          {{request.session.unicorn_count}} Unicorns <br><br>
          {% endif %}

           {% if request.session.eraser_count > 0 %}
          {{request.session.eraser_count}} Erasers <br><br>
          {% endif %}

           {% if request.session.tp_count > 0 %}
          {{request.session.tp_count}} Donald Trump Toilet Paper Rolls (pack of 3) <br><br>
          {% endif %}

           {% if request.session.eggball_count > 0 %}
          {{request.session.eggball_count}} Egg Splat Toys (pack of 4) <br><br>
          {% endif %}

           {% if request.session.bank_count > 0 %}
          {{request.session.bank_count}} Pikachu Banks <br><br>
          {% endif %}

          {% if request.session.catsushi_count > 0 %}
          {{request.session.catsushi_count}} Cat Sushi Keychain Figures (pack of 5) <br><br>
          {% endif %}

        </div>
        <div class="panel-footer">Free Shipping!<br> Tax = 10% <br> <br> Your Total is {{request.session.total}}</div>
      </div>
      <form action="/thankyou" method="POST">
        {% csrf_token %}
      <button type="submit" class="btn btn-danger" name="unicorn">Submit Order</button>
    </form>
    </div>


</body>

</html>